@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}
